<div class="content">
    {{#if mensaje}}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <strong>{{mensaje}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    {{#if xd}}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <strong>{{xd}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-danger">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Información del cliente</h4>
                    </div>
                    <div class="card-body">
                        <h5>{{cliente.Nombre}} {{cliente.Apellido_paterno}} {{cliente.Apellido_materno}}</h5>
                            {{#if diaMensaje}}
                                <h4>{{diaMensaje}}</h4>
                                {{/if}}
                        <form method="post" action="/clientes/profile/{{cliente.id}}">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Correo electrónico</label>
                                        <input value="{{cliente.Email}}" name="Email" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Teléfono</label>
                                        <input value="{{cliente.Telefono}}" name="Telefono" type="number"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Dirección</label>
                                        <input value="{{cliente.Direccion.Direccion_completa}}"
                                               name="Direccion_completa" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Estado del préstamo</label>
                                        <input value="{{cliente.Prestamo.Status}}" name="Status" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Monto del préstamo</label>
                                        <input value="{{cliente.Prestamo.Monto_total}}" name="Monto_total" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Porcentaje de interés</label>
                                        <input value="{{cliente.Prestamo.Interes}}" name="Interes" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Inicio del préstamo</label>
                                        <input value="{{cliente.Prestamo.Creacion}} " name="Creacion" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Plazo de pago</label>
                                        <input value="{{cliente.Prestamo.Duracion}}" name="Duracion" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {{#if cliente.username}}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Nombre de usuario </label>
                                            <input disabled value="{{cliente.username}}" name="username"
                                                   type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Pago mensual </label>
                                            <input value="{{cliente.Prestamo.Pago_previsto}}" name="Pago_previsto"
                                                   type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Monto restante</label>
                                            <input readonly value="{{cliente.Prestamo.Monto_restante}}" name="Monto_restante"
                                                   type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Pago mensual </label>
                                            <input value="{{cliente.Prestamo.Pago_previsto}}" name="Pago_previsto"
                                                   type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Monto restante</label>
                                            <input readonly value="{{cliente.Prestamo.Monto_restante}}" name="Monto_restante"
                                                   type="text"
                                                   class="form-control">
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            <br>
                            <div class="row">
                                {{#unless cliente.username}}
                                    <a href="/admin/clientes/assignUser/{{cliente.id}}" type="button" class="btn btn-danger  mr-auto col-md-4 text-white">Generar usuario</a>
                                    {{/unless}}
                                <button type="submit" class="btn btn-danger ml-auto col-md-4 ">Actualizar información</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-danger">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">Nuevo pago</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <form method="post" action="/admin/clientes/pago/nuevo/{{cliente.id}}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Monto $</label>
                                                <input value="{{cliente.Prestamo.Pago_previsto}}" name="Monto"
                                                       type="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd">Fecha de pago</label>
                                                <input id="datetimepicker-input" name="Fecha" type="text"
                                                       class="form-control datepicker">
                                            </div>
                                        </div>
                                        {{#if xd}}
                                        <div class="col-md-4">
                                            <button  disabled type="submit" class="btn btn-danger pull-right">Enviar</button>
                                        </div>
                                            {{else}}
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-danger pull-right">Enviar</button>
                                            </div>
                                        {{/if}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon card-header-danger">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Lista de pagos realizados</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            {{#if pagos}}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Monto
                                    </th>
                                    </thead>
                                    <tbody>
                                    {{#each pagos}}
                                        <tr>
                                            <td>
                                                {{inc @index}}
                                            </td>
                                            <td>
                                                {{Fecha}}
                                            </td>
                                            <td>
                                                {{Monto}}
                                            </td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            {{else}}
                                <h4 class="text-center">Sin pagos realizados aún</h4>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
